.alumni-section {
  text-align: center;
}

.alumni-hero {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-align: center;

  padding: 0 2rem;

  button {
    background: linear-gradient(90deg, #4bc9ff 41.94%, #cf47ff 99.99%);
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    border: rgba(206, 71, 255, 0.734) 2px solid;
    transition: all 0.3s ease;

    &:hover {
      background: linear-gradient(90deg, #4bc9ff 41.94%, #cf47ff 99.99%);
      border: #4bc9ff 2px solid;
      transform: translateY(-5px);
    }
  }

  h1 {
    font-size: 5rem;
    font-weight: 700;

    span {
      background: linear-gradient(90deg, #4bc9ff 41.94%, #cf47ff 99.99%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    h1 {
      font-size: 3rem;
    }
  }
}

.alumni-list-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;

  width: 100%;
  height: fit-content;

  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .alumni-card {
    width: 300px;
    height: 400px;
    // background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .alumni-details {
      padding: 1rem;

      h3,
      a {
        font-size: 1.5rem;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
          color: #4bc9ff;
        }
      }

      p {
        font-size: 1rem;
        color: #e7e7e7;
        margin-top: 0.5rem;
      }
    }
  }
}
